.h1, h1 {
  font-size:28px;
}
.jumbotron{
  background-color:#8b5189;
  background-image:url(https://lh3.googleusercontent.com/-XfK6rDSzoLg/WXi6Fr1VL5I/AAAAAAAAS-k/rG1-Kn8jsbwSciq_vBe0xn4UGaDxENr8wCJoC/s1600-e30/1.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
.jumbotron .h1, .jumbotron h1 {
  color: rgb(252,250,250);
  font-size:40px;
  font-weight:bold;
  text-shadow:black 2px 2px;
}

.jumbotron h3 {
  color: rgb(252,250,250);
  font-size: 36px;
  text-shadow:black 1px 1px;
}

.jumbotron p {
  color: rgb(252,250,250);
  font-size:28px;
  text-shadow:black 1px 1px;
}

.img-thumbnail {
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius:0px;
}

#benefits img{margin-bottom:24px;}
#benefits h3.text-center {color: #8b5189;}

#benefits p.benefits{font-size: 24px;}

