.h1, h1 {
  font-size:28px;
}
.jumbotron{
  background-color:#8b5189;
  background-image:url(https://lh3.googleusercontent.com/-XfK6rDSzoLg/WXi6Fr1VL5I/AAAAAAAAS-k/rG1-Kn8jsbwSciq_vBe0xn4UGaDxENr8wCJoC/s1600-e30/1.jpg);
/*

  https://s-media-cache-ak0.pinimg.com/originals/0a/8d/42/0a8d42aadffb455cd54a1db2f557c9df.jpg
  https://s-media-cache-ak0.pinimg.com/originals/62/90/56/629056853bef11502b0208e83aab3fb2.gif 

*/
  background-size:cover;
  background-repeat:no-repeat;
  min-height: 300px;
}
.jumbotron .downarrow{
  font-size: 64px;
  display: block;
  color: white;
}

.jumbotron .h1, .jumbotron h1 {
  padding-top: 40px;
  color: rgb(252,250,250);
  font-size:40px;
  font-weight:bold;
  text-shadow:black 2px 2px;
}

.jumbotron h3 {
  color: rgb(252,250,250);
  font-size: 36px;
  text-shadow:black 1px 1px;
}

.jumbotron p {
  color: rgb(252,250,250);
  font-size:28px;
  text-shadow:black 1px 1px;
}

.img-thumbnail {
}

#bigintro{
  font-size: 4em;
  font-weight: 900;
  color: #8b5189;
  text-shadow: 1px 1px black;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius:0px;
}
div#intro{
  border: 6px dashed #8b5189;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 44px 64px;
}
#intro p{font-family: serif; font-size: 18px;}
#benefits img{margin-bottom:24px;}
#benefits h3.text-center {color: #8b5189;}

#benefits p.benefits{font-family: serif; font-size: 24px;}

.bendesc{display:none;}

